@import url(https://fonts.googleapis.com/css?family=Open+Sans);
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css);
 
body {
  font-size: 18px;
}

 .App {
   display: grid;
   grid-template-areas: 
        "head head head "
        "cnt cnt cnt ";
  text-align: center;
}

/*header-----------------------------*/
.header {
  grid-area: head;
  width: 100vw;
  height: 3em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background: #18202B;
  -webkit-box-shadow: 10px 0px 18px 3px rgba(34, 60, 80, 0.1);
  -moz-box-shadow: 10px 0px 18px 3px rgba(34, 60, 80, 0.1);
  box-shadow: 10px 0px 18px 3px rgba(34, 60, 80, 0.1);
  transition: .4s all;
}

.logo_content {
  margin-left: 2em;
}

.header .logo_content .logo {
  color: #fff;
  display: flex;
  height: 50px;
  width: 100%;
  align-items: center;
  cursor: pointer;
} 

.logo_content .logo {
  font-size: 24px;
  margin-right: 5px;
}

.header ul {
  padding: 0;
}

.header ul li {
  margin: 0 .5em 0 .5em;
  display: inline-block;
  list-style: none;
  text-align: center;
}

.link:hover {
  color: #E1E7EF;
}

.link {
  color: #8AA5C1;
  display: flex;
  align-items: center;
  transition: all 0.4s ease;
  text-align: center;
}

.active_link {
  color: #E1E7EF;
}

.search-wrapper {
  margin-right: 2em;
}

/*-------------------------------------*/

.content {
  grid-area: cnt;
  display: flex;
  height: calc(100vh - 3em);
  flex-direction: column;
  background: -webkit-linear-gradient(0deg, rgb(219, 231, 244), rgb(235, 239, 244));
  background: -moz-linear-gradient(0deg, rgb(219, 231, 244), rgb(235, 239, 244));
  background: linear-gradient(0deg, rgb(219, 231, 244), rgb(235, 239, 244));
}

/*--------------------------------------------------*/

/*HOME----------------------------------------------*/

.home-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 1em;
}

.artists-wrapper, .tracks-wrapper {
  margin: 0 1.5em 1.5em 0;
}

.artists-wrapper table thead tr th, .tracks-wrapper table thead tr th {
  text-align: center;
  border-bottom: 1px solid #859db3;
}

.artists-wrapper table tbody tr td, .tracks-wrapper table tbody tr td {
  border-bottom: 1px solid #acb5be;
}

.artists-wrapper table tbody tr:last-child td, .tracks-wrapper table tbody tr:last-child td {
  border-bottom: 0;
}

.artists-wrapper table thead tr th div, .tracks-wrapper table thead tr th div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.artists-wrapper table tbody tr td, .tracks-wrapper table tbody tr td{
  padding: 5px 0 0 0;
}

.tracks-wrapper table tbody tr td div{
  display: flex;
  flex-direction: column;
  max-width: 300px;
  padding-left: 10px;
  text-align: left;
}

.tracks-wrapper table tbody tr td div span {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap; 
}

.tracks-wrapper table tbody tr td img {
  border: 1px solid rgb(167, 169, 173);
  border-radius: 0;
}

.artists-wrapper table tbody tr td img {
  border: 1px solid rgb(167, 169, 173);
  border-radius: 50%;
}

.top-list {
  margin: 0 0 0 .5em;
  padding: 0;
}

.top-list li {
  display: inline-block;
  margin: .2em;
}

.top-list li button {
  width: 2em;
  height: 2em;
}

img {
  border-radius: 50%;
}

/*--------------------------------------------------*/
a {
  text-decoration: none;
}

h1 {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
}

.row {
  max-width: 900px;
  margin: 50px auto 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}
